*{
  color: wheat;
  box-sizing: border-box;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgb(105, 96, 96);
}
.newsContainer{
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.article{
  width: 30%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 30px;
  cursor: pointer;
}
.article > *{
  margin: 5px;
}

